<?xml version="1.0" encoding="UTF-8"?>
<OX>
	<OXMENU id="NAVIGATION_ESHOPADMIN">
		<MAINMENU id="mxextensions">
            <SUBMENU id="devutils_moduledata" cl="devutils_moduledata" />
            <SUBMENU id="devutils_tplblocks" cl="devutils_tplblocks" />
			<SUBMENU id="devutils_console" cl="devutils_console" />
            <SUBMENU id="devutils_logs" cl="devutils_logs" />
            <SUBMENU id="mxmodule" cl="module" list="module_list">
                <TAB id="module_metadata" cl="module_metadata" />
            </SUBMENU>
		</MAINMENU>
	</OXMENU>
</OX>